doctype html
html
	head
		title= title
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style-new.css')
		link(rel='stylesheet', href='/stylesheets/dropzone.css')
		script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.2.js')
		script(type='text/javascript', src='/javascripts/jquery.sortable.js')
		script(type='text/javascript', src='/javascripts/dropzone.js')
		script(type='text/javascript', src='/javascripts/form-functions.js')
		link(rel='stylesheet', href='/stylesheets/floss.css')

	body.create
		block content
			.navbar
				a(href="/settings")
					.four.column
						i.fa.fa-wrench
						h1 Tweak floss machine

				a
					.four.column
						i.fa.fa-pied-piper-alt
						h1 Let's cook!

				a(href="/package")
					.four.column
						i.fa.fa-paper-plane
						h1 package my floss

			.main-container
				.sidebar
					.button(onClick="add_input('0', 'textbox', 'element-container')")
						i.fa.fa-pencil
						p short

					.button(onClick="add_input('0', 'textarea', 'element-container')")
						i.fa.fa-pencil-square-o
						p long

					.button(onClick="add_input('0', 'checkbox', 'element-container')")
						i.fa.fa-square
						p Check

					.button(onClick="add_input('0', 'radio', 'element-container')")
						i.fa.fa-dot-circle-o
						p Radio

					.button(onClick="add_input('0', 'dropdown', 'element-container')")
						i.fa.fa-bars
						p Options

					.button(onClick="add_input('0', 'upload', 'upload-container')")
						i.fa.fa-cloud-upload
						p File

					.button(onClick="add_input('0', 'static-title', 'element-container')")
						i.fa.fa-header
						p Title

					.button(onClick="add_input('0', 'static-text', 'element-container')")
						i.fa.fa-info
						p text

					.button.elementbox__button(onClick="toggleVisibility('table-generator')")
						i.fa.fa-table
						p Table

					- var grid = 0
					- var col1 = [0, 1]
					div#table-generator(style="display:none;")
						.clear
						while grid < 36
							.gridbox(id="box#{grid}", onmouseover="gridHoverStyle(#{grid})", onClick="add_table('section-0', '#{grid}', 'table', 'text-content', 'pencil', '#')")
							- grid++

					.button(onClick="add_input('0', 'download', 'upload-container')")
						i.fa.fa-picture-o
						p Images

					.button(onClick="add_input('0', 'list', 'element-container')")
						i.fa.fa-list
						p List

					.button(onClick="add_section('formbox')")
						i.fa.fa-plus-square-o
						p New Section

				form
					#formbox
						#section-container-0.section.accordion
							.section-header
								div(class="header-title") Section 1
								a#section-0-heading.section-expand.expanded(href="#section-0")
									i.fa.fa-minus.expanded
								a.settings-cog(href="#settings-0")
									i.fa.fa-cog
							#section-0.section-body(data-position="data[0]")
								#settings-0.accordion-section-content.settings-area
									h3 Options
									p Various settings will go here.
						button(type="submit", class="form-submit") Submit.

			script(type='text/javascript', src='/javascripts/jquery.accordion.js')
