doctype html
html
	head
		title= title
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style-new.css')
		link(rel='stylesheet', href='/stylesheets/dropzone.css')
		script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.2.js')
		script(type='text/javascript', src='/javascripts/jquery.sortable.js')
		script(type='text/javascript', src='/javascripts/dropzone.js')
		script(type='text/javascript', src='/javascripts/form-functions.js')

	body.create
		block content
			.main-container

				.sidebar
					.toolbar.accordion
						i.fa.fa-google-wallet.logo(onClick="location.href='/'")
						.logo-clear

						.button(onClick="add_textbox('section-0')")
							i.fa.fa-pencil
							p short

						.button(onClick="add_textarea('section-0')")
							i.fa.fa-pencil-square-o
							p long

						.button(onClick="add_checkbox_base('section-0')")
							i.fa.fa-square
							p Check

						.button(onClick="add_radio_base('section-0')")
							i.fa.fa-dot-circle-o
							p Radio

						.button(onClick="add_dropdown_base('section-0')")
							i.fa.fa-bars
							p Options

						.button(onClick="add_uploader('section-0')")
							i.fa.fa-cloud-upload
							p File

						.button(onClick="add_static('section-0', 'text', 'title', 'text-title', 'header', '#')")
							i.fa.fa-header
							p Title

						.button(onClick="add_static('section-0', 'textarea', 'content', 'text-content', 'info', '#')")
							i.fa.fa-info
							p text

						.button.elementbox__button(onClick="toggleVisibility('table-generator')")
							i.fa.fa-table
							p Table
						.clear
						- var grid = 0
						- var col1 = [0, 1]
						div#table-generator(style="display:none;")
							while grid < 36
								.gridbox(id="box#{grid}", onmouseover="gridHoverStyle(#{grid})", onClick="add_table('section-0', '#{grid}', 'table', 'text-content', 'pencil', '#')")
								- grid++
						.clear
						.button(onClick="add_file('section-0')")
							i.fa.fa-picture-o
							p Images

						.button(onClick="add_list_base('section-0')")
							i.fa.fa-list
							p List


						.button(onClick="add_section('formbox')")
							i.fa.fa-plus-square-o
							p New Section

					button#submit-button(type='submit')
						i.fa.fa-cloud-upload

				form
					#formbox
						#section-container-0.section.accordion
							.section-header
								input(type="hidden", required="required", name="data", value="@<!")
								input(type="hidden", required="required", name="data", value="list")
								input(type="hidden", required="required", name="data", value="section-0")
								input(type="text", required="required", name="data", placeholder="Enter Section Title Here", class="input header-title")
								a#section-0-heading.section-expand.expanded(href="#section-0")
									i.fa.fa-minus.expanded
								a.settings-cog(href="#settings-0")
									i.fa.fa-cog
							#section-0.section-body
								#settings-0.accordion-section-content.settings-area
									h3 Options
									p Various settings will go here.

			script(type='text/javascript', src='/javascripts/jquery.accordion.js')
