extends layout

block content
	h1 Fairyfloss
	p Drag and drop to your hearts content.


	h3 Elements
	.block(id='sortable')
		.block__container
			h4 Checkboxes
			input(type='checkbox', checked=false)
			label Option 1
			.clearline
			input(type='checkbox', checked=true)
			label Option 2

		.block__container
			h4 Radio buttons
			input(type='radio', checked=false)
			label Option 1
			.clearline
			input(type='radio', checked=true)
			label Option 2

		.block__container
			h4 Text line input
			input(type='text', placeholder='Enter information')

		.block__container
			h4 Textarea
			textarea(placeholder='Enter information')

		.block__container
			h4 Color picker
			input(type='color')
			label Select color

		.block__container
			h4 File upload
			input(type='file')

		.block__container
			h4 Text title
			h2 Sample Heading

		.block__container
			h4 Text paragraph
			p Amazing Spider-Man is the cornerstone of the Marvel Universe. The classic adventures of Spider-Man from the early days up until the 90s. Wolvering was born with super-human senses and the power to heal from almost any wound.
			
	.clearline
	h3 Test Form Area
	form.formspace(id='form_sortable')
		.block__container
			h4 Default Heading
			h2 Test Form

	script.
		$('#sortable, #form_sortable').sortable({
			connectWith: '.connected'
		});

		$('#sortable,').sortable().bind('sortupdate', function() {
			//Triggered when the user stopped sorting and the DOM position has changed.
		});