extends layout

block content
	h1 Fairyfloss
	p Drag and drop to your hearts content.


	h1 Navigation
	a(href="/create") Form builder
	br
	br
	a(href="/dragable") Draggable demo
	br
	br
	a(href="/conditionals") Conditionals demo 