extends layout

block content
	.index
		.logo-header
			h1 Fairyfloss
				p Create beautifully sweet but light-weight forms.

		.four.column
			.container
				h1 Tweak floss machine
					i.fa.fa-wrench

		.four.column
			.container
				h1 Let's cook!
					i.fa.fa-pied-piper-alt

		.four.column
			.container
				h1 package my floss
					i.fa.fa-paper-plane


	h1 Navigation
	a(href="/create") Form builder
	br
	br
	a(href="/dragable") Draggable demo
	br
	br
	a(href="/conditionals") Conditionals demo
