extends layout

block content
	h1 Fairyfloss
	p Drag and drop to your hearts content.

	.container
		h3 Elements
		.block
			.block__container
				h4 Checkboxes
				.form(action='#')
					.input(type='checkbox', checked=false) Option 1
					.input(type='checkbox', checked=true) Option 2
