/* ======================================== |
      Global styling
========================================== */

body {
  width: 100%;
  height: 100%;
  padding: 0;
}

/* Padding */

.padding-small {
  padding: 10px;
}

.padding-medium {
  padding: 20px;
}

.padding-large {
  padding: 40px;
}

/* Float*/

.left {
  float: left;
}

.right {
  float: right;
}

/* Columns */

.column {
  float: left;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .full {
  width: 99.996%
}


  /* ======================================== |
        Misc styling
  ========================================== */



/* ======================================== |
      TABLET AND DESKTOP RESPONSIVENESS
========================================== */
/* ----------- iPad mini ----------- */

/* Tablet / Small screen Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {

  .one, .two, .three
    width: 24.999%;

  .four, .five, .six
    width: 49.998%;

  .seven, .eight, .nine, .ten, .eleven, .full
    width: 99.996%;

}

@media only screen and (min-device-width: 1280px) {
  /* Desktop columns */

  .column
    float: left;

  .one
    width: 8.333%;

  .two
    width: 16.666%;

  .three
    width: 24.999%;

  .four
    width: 33.332%;

  .five
    width: 41.665%;

  .six
    width: 49.998%;

  .seven
    width: 58.331%;

  .eight
    width: 66.664%;

  .nine
    width: 74.997%;

  .ten
    width: 83.33%;

  .eleven
    width: 91.663%;

  .full
    width: 99.996%;

}
