/* ======================================== |
      Global styling
========================================== */
html, body {
  width: 100%;
  padding: 0;
  height: 100%;
}

/* Padding */

.padding-small{
  padding: 10px;
}

.padding-medium{
  padding: 20px;
}

.padding-large{
  padding: 40px;
}

/* Float*/

.left {
  float: left;
}

.right {
  float: right;
}

/* Columns */

.column {
  float:left;
  height: 100%;
}

.one, .two, .three {
  width: 24.999%;
}

.four, .five, .six {
  width: 49.998%;
}

.seven, .eight, .nine, .ten, .eleven, .full {
  width: 99.996%;
}


/* ======================================== |
      Misc styling
========================================== */

.indexcol .column {
  text-align: center;
  color: #fff;
  position: absolute;
}

.indexcol .column:nth-child(2) {
  background-color: #E36A5C;
  left:0;
}

.indexcol .column:nth-child(3) {
  background-color: #ffffff;
  left: 33.333%;
  color: #4f4f4f;
}

.indexcol .column:last-child {
  background-color: #415169;
  right: 0;
}

.indexcol .column .container{
  top: calc(50% - 100px);
  width: 100%;
  padding: 0;
}

.indexcol .column .container i{
  width: 100%;
  clear: both;
  font-size: 90px;
  line-height: 150px;
}

.logo-header {
  position: absolute;
  top: 40px;
  left: 40px;
  background: #666;
  color: white;
  z-index: 10;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}

/* ======================================== |
      TABLET AND DESKTOP RESPONSIVENESS
========================================== */

/* Tablet / Small screen Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1279px) {

}

@media only screen and (min-device-width: 1280px) {
  /* Desktop columns */

  .column {
    float: left;
  }

  .one {
    width: 8.333%;
  }

  .two {
    width: 16.666%;
  }

  .three {
    width: 24.999%;
  }

  .four{
    width: 33.332%;
  }

  .five {
    width: 41.665%;
  }

  .six {
    width: 49.998%;
  }

  .seven {
    width: 58.331%;
  }

  .eight {
    width: 66.664%;
  }

  .nine {
    width: 74.997%;
  }

  .ten {
    width: 83.33%;
  }

  .eleven {
    width: 91.663%;
  }

  .full {
    width: 99.996%;
  }
}
