body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
	/* position */
	width:100%;
	position:relative;

	/* display */
	padding:50px;


	/* other */
}

.block {
	/* position */
	width:100%;
	float:left;

	/* display */
	padding: 15px 0px;

	/* other */
	border-bottom: 1px solid black;
}

.block__container {
	/* position */
	width:33.33%;
	float:left;

	/* display */
	padding:15px;

	/* other */
	border: 1px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
