body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #4F4F4F;
	float:left;
}

a {
  color: #00B7FF;
}

.container {
	/* position */
	width:100%;
	position:relative;

	/* display */
	padding:50px;


	/* other */
}

.block {
	/* position */
	width:100%;
	float:left;

	/* display */
	padding-bottom:0.5%;
	/* other */
	border-bottom: 1px solid #efefef;
}

/* ============================================================
			Block container CSS for sample elements
==============================================================*/

.block__container {
	/* position */
	width: calc(32% - 30px);
	margin:0.5%;

	/* display */
	padding:15px;
	background-color:white;
	visibility: visible;

	/* other */
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.block__container h4 { 
	margin-top:0;
}

.block__container input,
.block__container textarea,
.block__container label { 
	float:left;
	padding:0 10px;
	min-height:40px;
	line-height:40px;
	font-size:16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.block__container input[type="text"],
.block__container textarea { 
	width:calc(100% - 20px);
}

.block__container input[type="file"]{
	line-height:16px;
}

/* ============================================================
			Formspace container CSS for dynamic form
==============================================================*/

.formspace {
	
}

/* ============================================================
			Spacer CSS for clearing element alignment
==============================================================*/

.clearline {
	clear:both;
	margin:5px 0;
	border-bottom:1px solid #efefef;
}

.clear {
	clear:both;
}